DATABASE_URL=
AUTH_DRIZZLE_URL=
BETTER_AUTH_SECRET=


AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=


# AI Settings 
# AI_PROVIDER=anthropic
AI_PROVIDER=openweb
AI_MODEL=

# Anthropic Claude
ANTHROPIC_API_KEY=your-anthropic-api-key

# OpenAI
OPENAI_API_KEY=your-openai-api-key

# Open Web API (e.g. Open WebUI, Ollama, OpenRouter)
OPENWEB_API_BASE_URL=
OPENWEB_API_KEY=
